header{
    background-color:#43F8BE;
 }
     
h1{
   margin-top:30px;
}    
 
 div h1{
    text-align: center;
    font-size:30px;
 }
 h2{
    font-size: 15px;;
 }
 div h2{
    text-align: center;
    font-size:20px; 
 }
  h3{
 font-size:15px;
 margin-left:70px;
 
 }
 h4{
    font-size:16px;
    margin-left:60px; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
 }
 img.d-block .w-75{
    height:75px;
 }
 
 .navbar-toggler {
    border:none;
 }
 img.w-75{
 margin-left:60px;
 Width:100px;
 
 }
 img#btnBusca{
    width:30px;
    margin-left: -40px;
    
 }
 
 div.card{
     margin-left:40px;
 }
 footer{
   height: 65px;
   width: 110%;
   background-color: #39E64B;
}
footer img{
   margin-left: -3%;
   height: 65px;
   width: 12%;

}


@media only screen and (max-width: 600px) {

   
   footer{
       float: left;
       height: 30px;
       width: 100%;
       background-color: #39E64B;
   }
   footer img{
       margin-left: -5%;
       height: 95%;
       width: 15%;
   }

}